
<h1 class="whiteText welcome">Hello, <%= @user.name %></h1>


<form class="darkBackground whiteText activityForm" action="/activities/<%= @activity.id %>" method="POST">
    <h2 class="whiteText">Edit Activity <%= @activity.id %>: <%= @activity.title %></h2>
    <input id="hidden" type="hidden" name="_method" value="patch">
    <label class="field">Title:</label> <input class="input" type="title" name="title" value="<%= @activity.title %>">
    <br>
    <label class="field">Description of Work:</label> <input class="input" type="description" name="description" value="<%= @activity.description %>">
    <br>
    <label class="field">Location:</label> <input class="input" type="location" name="location" value="<%= @activity.location %>">
    <br>
    <label class="field">Date:</label> <input class="input" type="date" name="date" value="<%= @activity.date %>">
    <br>
    <label class="field">Supervisor:</label> <input class="input" type="supervisor" name="supervisor" value="<%= @activity.supervisor %>">
    <br>
    <label class="field">Supervisor Email:</label> <input class="input" type="email" name="sup_email" value="<%= @activity.sup_email %>">
    <br>
    <label class="field">Amount of Hours:</label> <input class="input" type="hours" name="hours" value="<%= @activity.hours %>">
    <br>
    <input class="yellowText submitButton" type="submit" value="Save Changes">
</form>
<button class=" yellowText button" href="/activities">Back to Activities</button>